<div class="container">
    <h1>Welcome to Marvel Characters!</h1>
    <h> Every data in this site has been taken from  Marvel Official Site at <%= link_to "http://marvel.com", "http://marvel.com", :target => "_blank" %> <% link_to  %> </h>
</div>