<h1><%="Search results for #{@query}: "%></h1>

<% @characters.each do |character| %>
    <h3><%= character.name %></h3>
    <p><%= character.modified %></p>
    <p><%= character.image %></p>
<% end %>
