!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0", :name => "viewport"}/
    %title Marvel API
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/css/custom.css", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}/
  %body
    %nav.red.darken-4
      .nav-wrapper.container
        %a.brand-logo.center{href: root_path}
          = image_tag "/images/logo.png"
    = yield
    %footer.page-footer.red.darken-4
      .footer-copyright
        .container.center
          Made by
          %a.orange-text.text-lighten-3{href: "https://github.com/kayo-almeida", target: "_blank"} Kayo Almeida
    / Scripts
    %script{:src => "https://code.jquery.com/jquery-2.1.1.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"}
    %script{:src => "/assets/js/custom.js"}
